.view {
    border: 3px solid red;
}

.fundo-rosado {
    background: var(--cor-branco-rosado);
}

.titulo-principal p {
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-rosado-escuro);
    font-weight: var(--fonte-weight-400);
    font-size: 12.8px;
}

.titulo-principal h3 {
    text-align: center;
    font-size: 33px;
    font-weight: var(--fonte-weight-500);
    color: var(--cor-roxo);
}

header {
    height: 0;
    padding-bottom: 800px;
    overflow: hidden;
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}

.menu-svg-hamburguer {
    width: 50px;
    height: 50px;
    fill: var(--cor-branco-05);
    border: 1px solid var(--cor-branco-01);
    padding: 4px;
}

.hero-texto-h1 h1 {
    font-size: 40px;
    color: var(--cor-branco);
    font-weight: var(--fonte-weight-300);
}

@media (min-width: 768px) {
    .hero-texto-h1 h1 {
        font-size: 60px;
    }
}

.hero-texto-paragrafo p {
    font-size: 17px;
    font-weight: var(--fonte-weight-300);
    color: var(--cor-rosa-transparente);
}

@media (min-width: 768px) {
    .hero-texto-paragrafo p {
        font-size: 23px;
    }
}

.features {
    padding: 40px 0;

}

.features-card {
    background: var(--cor-branco);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    ;
}

.features-card::before {
    content: "";
    width: 3px;
    background: var(--gradiente-roxo-rosa);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.features-card svg {
    width: 130px;
}


@media (min-width: 768px) {
    .features-card svg {
        width: 45px;
    }
}

.features-card-texto h4 {
    font-size: 20px;
    font-weight: var(--fonte-weight-500);
    color: var(--cor-roxo);
}

.features-card-texto p {
    font-size: 14px;
    color: var(--cor-cinza-medio);
}

.discover-info h2 {
    font-size: 30px;
    font-weight: var(--fonte-weight-300);
    color: var(--cor-roxo);
}

.discover-info p {
    color: var(--cor-cinza-medio);
}

.discover-info button {
    text-transform: uppercase;
    color: var(--cor-branco);
    font-size: 12px;
    font-weight: var(--fonte-weight-500);
    background: var(--cor-rosa-choque);
    padding: .6rem 2rem;
    border-radius: 3px;
}

.more-conteudo-lista p {
    text-align: center;
    color: #b5a4c8;
    font-size: 19px;
    background: #f5eff7;
    font-weight: var(--fonte-weight-400);
    padding: 16px;
    flex: 1 1 0;
}

.more-conteudo-lista p:nth-child(1) {
    color: var(--cor-roxo);
    background: var(--cor-branco);
    border: 1px solid transparent;
    border-top-width: 3px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-color: #ce75b4 #faf6fb #FFF;
}

.more-conteudo-texto {
    background: var(--cor-branco);
    padding: 24px;
}

.more-conteudo-texto h2 {
    color: var(--cor-roxo);
    font-size: 45px;
    font-weight: var(--fonte-weight-300);
}

.more-conteudo-texto .more-conteudo-texto-rosa {
    color: var(--cor-rosa);
    font-weight: var(--fonte-weight-300);
    font-size: 20px;
    line-height: 1.8;
}

.more-conteudo-texto p {
    font-size: 16px;
    color: var(--cor-cinza-medio);
}

.launch-card-numero {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-right: 24px;
    font-size: 28px;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, .07);
    background: var(--cor-branco);
    border-radius: 50%;
    color: var(--cor-rosa);
    font-weight: var(--fonte-weight-300);
    text-align: center;
}

.launch-card-texto h5 {
    font-size: 28px;
    font-weight: var(--fonte-weight-300);
    color: var(--cor-roxo);
}

.launch-card-texto p {
    font-size: 16px;
    color: var(--cor-cinza-medio);
}

.launch-conteudo div:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.testimonials-conteudo img {
    border-radius: 50%;
}

.testimonials-conteudo-texto {
    color: var(--cor-cinza-medio);
    text-align: center;
    font-size: 20px;
    font-weight: var(--fonte-weight-300);

}

.testimonials-conteudo h5 {
    font-size: 28px;
    color: var(--cor-roxo);
    font-weight: var(--fonte-weight-300);
}

.upgrade-conteudo {
    border: 1px solid #f1eef1;
    border-top: 3px solid var(--cor-rosa);
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.testimonials-conteudo-pais {
    font-size: 16px;
    color: var(--cor-rosa);
    font-weight: var(--fonte-weight-300);
}

.upgrade-conteudo-info p {
    font-size: 16px;
    color: var(--cor-cinza-medio);
}

.upgrade-preco {
    color: var(--cor-roxo);
}

.upgrade-conteudo-info p del {
    color: #d9d3d8;
}

.upgrade-conteudo-tipo {
    color: var(--cor-rosa);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: var(--fonte-weight-300);
}

.upgrade-conteudo-preco sub {
    font-size: 25px;
    font-weight: var(--fonte-weight-300);
}

.upgrade-conteudo-preco {
    font-size: 45px;
    font-weight: var(--fonte-weight-400);
}

.upgrade-conteudo-botao {
    padding: 12px 100px;
    background: var(--cor-rosa-choque);
    color: var(--cor-branco);
    text-transform: uppercase;
    font-weight: var(--fonte-weight-500);
    font-size: 15px;
    border-radius: 3px;
}

.download-container {
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    text-align: center;
}

.download-conteudo-texto h2 {
    color: var(--cor-branco);
    font-weight: var(--fonte-weight-400);
    font-size: 30px;
}

.download-conteudo-texto p {
    max-width: 650px;
    font-weight: var(--fonte-weight-300);
    color: #ffb8f6;
    font-size: 16px;
}

.conteudo-link {
    text-transform: uppercase;
    background: var(--cor-branco);
    padding: 15px 0;
    border-radius: 3px;
    color: var(--cor-roxo);
    font-size: 14px;
    font-weight: var(--fonte-weight-500);
    flex: 1;
}

.download-conteudo i {
    color: #e38cb7;
    font-size: 13px;
    font-weight: var(--fonte-weight-300);
}

.rodape-info svg {
    width: 16px;
    height: 16px;
    fill: var(--cor-cinza-medio);
}

.rodape-info-local p{
    color: var(--cor-cinza-medio);
}

.rodape-info-email, .rodape-info-tel {
    color: var(--cor-rosa);
}

.rodape-links svg {
    width: 50px;
    height: 50px;
    fill: var(--cor-rosa);
    background: var(--cor-branco);
    padding: 15px;
    border-radius: 3px;
}

.rodape-final p {
    color: #959094;
    font-size: 13px;
    font-weight: var(--fonte-weight-400);
    text-align: center;
}